# Docker
# Build and push an image to Azure Container Registry
# https://docs.microsoft.com/azure/devops/pipelines/languages/docker

trigger:
- main

variables:
  buildConfiguration: 'Release'
  location: 'westeurope'
  acrHostName: 'vastadocker001acr.azurecr.io'
  acrName: 'vastadocker001acr'
  rgName: 'knoxdocker001-rg'
  containerName: 'knoxdocker001'
  appName: 'knoxdocker001'
  poolName: 'DemoAgentPool'
  dockerfilePath: '**/Dockerfile'
  tag: '$(Build.BuildId)'
  appSvcPlanName: 'knoxdocksvcplan'

resources:
- repo: self

pool:
  name: 'DemoAgentPool'

stages:
- stage: Build
  displayName: Build and push stage
  jobs:
  - job: Build
    displayName: Build

    steps:
    - task: AzureResourceGroupDeployment@2
      displayName: 'Azure Container Registry Deployment'
      inputs:
        azureSubscription: 'azureSrvcConn'
        resourceGroupName: '$(rgName)'
        location: $(location)
        csmFile: '$(System.DefaultWorkingDirectory)/**/acr-temp-new.json'
        overrideParameters: '-acrName "$(acrName)" -acrSku Standard'
    - task: Docker@1
      displayName: 'Build task'
      inputs:
        containerregistrytype: 'Azure Container Registry'
        azureSubscriptionEndpoint: 'azureSrvcConn'
        azureContainerRegistry: '$(acrHostName)'
        command: 'Build an image'
        dockerFile: '**/Dockerfile'
        imageName: '$(containerName):$(Build.BuildId)'
        
    - task: Docker@1
      displayName: 'publish task'
      inputs:
        containerregistrytype: 'Azure Container Registry'
        azureSubscriptionEndpoint: 'azureSrvcConn'
        azureContainerRegistry: '$(acrHostName)'
        command: 'Push an image'
        imageName: '$(containerName):$(Build.BuildId)'

      
- stage: Deploy
  displayName: Deploy Job attempt
  jobs:
  - job: Deploy
    displayName: Deploy
    steps:

    - task: AzureResourceGroupDeployment@2
      inputs:
        azureSubscription: 'azureSrvcConn'
        action: 'Create Or Update Resource Group'
        resourceGroupName: '$(rgName)'
        location: '$(location)'
        templateLocation: 'URL of the file'
        csmFileLink: '$(System.DefaultWorkingDirectory)/**/app-svc-temp.json'
        overrideParameters: '-appName $(appName) -appSvcPlanName $(appSvcPlanName) -appInsightsLocation "$(location)" -appSku "Free" -acrName $(acrName) -acrLocation "$(location)" -acrSku standard -containerName $(containerName):$(Build.BuildId)'
        deploymentMode: 'Incremental'

    - task: AzureRmWebAppDeployment@4
      displayName: 'App Svc Deploy'
      inputs:
        ConnectionType: 'AzureRM'
        azureSubscription: 'azureSrvcConn'
        appType: 'webAppLinux'
        WebAppName: '$(appName)'
        DockerNamespace: '$(acrHostName)'
        DockerRepository: '$(containerName)'
        DockerImageTag: '$(tag)'